
@{
    ViewBag.Title = "NotFound404";
    Layout = "~/Views/Shared/_Empty.cshtml";
}
<div class="pt-5 text-center">
    <p class="display-1 text-color-primary">404</p>
    <p class="lead">Resource Not Found</p>
</div>

