
@{
    ViewBag.Title = "ConfirmUser";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<div class="main-center w-50">
    <h2 class="text-color-primary">Confirm Email</h2>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <input id="code" type="text" name="code" class="form-control" placeholder="XXXXXX" />
        </div>
        <div class="form-group">
            <button id="code" type="submit"  class="btn background-color-primary round-this">
                Confirm
            </button>
        </div>
    }
</div>

