
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Empty.cshtml";
}
<div class="pt-5 text-center">
    <p class="display-1 text-color-primary">Error.</p>
    <p class="lead">An error occurred while processing your request.</p>
</div>

