
@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_Clinic.cshtml";
}

<div class="container">
    <table id="tableid"  class="table table-hover table-responsive ">
        <thead>
            <tr>
                <td>helo</td>
                <td>helo</td>
                <td>helo</td>
                <td>helo</td>
                <td>helo</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>helo</td>
                <td>helo</td>
                <td>helo</td>
                <td>helo</td>
                <td>helo</td>
            </tr>
            <tr>
                <td>malo</td>
                <td>malo</td>
                <td>malo</td>
                <td>malo</td>
                <td>malo</td>
            </tr>
            <tr>
                <td>Khalo</td>
                <td>Khalo</td>
                <td>Khalo</td>
                <td>Khalo</td>
                <td>Khalo</td>
            </tr>
        </tbody>
    </table>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#tableid").DataTable();
        })
    </script>
}