
@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_Clinic.cshtml";
}

<div class="container">
    <table id="appointments" class="table table-hover">
        <tr>
            <td>helo</td>
            <td>helo</td>
            <td>helo</td>
            <td>helo</td>
            <td>helo</td>
        </tr>
        <tr>
            <td>malo</td>
            <td>malo</td>
            <td>malo</td>
            <td>malo</td>
            <td>malo</td>
        </tr>
        <tr>
            <td>Khalo</td>
            <td>Khalo</td>
            <td>Khalo</td>
            <td>Khalo</td>
            <td>Khalo</td>
        </tr>
    </table>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#appointments").DataTable();
        })
    </script>
}