@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Clinic.cshtml";
}

<div class="col-md-10">
    <table id="appointments">
        <tr>
            <td></td>
        </tr>
    </table>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            
        $("#appointments")
        });
    </script>
}
