
@{
    ViewBag.Title = "العيادات";
    Layout = "~/Views/Shared/_Managment.cshtml";
}



<h4 class="text-color-primary">العيادات</h4>

<div class="col-md-12 mt-3 table-responsive">
    <table id="clinics" class="table table-hover col-12 bg-light border">
        <thead>
            <tr>
                <th>اسم العيادة</th>
                <th>نوعها</th>
                <th>اسم الطبيب</th>
                <th>حالتها</th>
                <th>الشهادة</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {

            var table = $("#clinics").DataTable({
                ajax: {
                    url: "/api/Management/Clinics",
                    headers: {
                        Authorization: 'Basic ' + sessionStorage.getItem('token')
                    },
                    complete: function (e) {
                        if (e.status == '401')
                            window.location.href = '/management/signout';
                    },
                    dataSrc: ""
                },
                columns: [
                    { data: "clinicName" },
                    { data: "clinicType" },
                    { data: "doctorName" },
                    { data: "isActiveClinic" },
                    {
                        data: "certificate",
                        render: function (data) {
                            return `<a href='DownloadImage/${data}' class='btn btn-sm border'>الشهادة</a>`;
                        }
                    },
                    {
                        data: "doctorId",
                        render: function (data) {
                            return `<a href='DoctorDetails/${data}' class='btn btn-sm border'>معلومات الطبيب</a>`;
                        }
                    },
                    {
                        data: "clinicId",
                        render: function (data) {
                            return `<a href='ClinicLocation/${data}' class='btn btn-sm border'>الموقع</a>`;
                        }
                    }
                ], dom: '<"row w-100 pb-3" <"px-3" f> <"px-3 mr-auto" l>>' +
                    '<"col-12"t>' +
                    '<"col-12" <"row"p><"row" i>>'
            });
        });
    </script>
}
