
@{
    ViewBag.Title = "Pharmacies";
    Layout = "~/Views/Shared/_Managment.cshtml";
}
<h4 class="text-color-primary">الصيدليات</h4>

<div class="col-md-12 mt-3 table-responsive">
    <table id="signUpRequests" class="table table-hover col-12 bg-light border">
        <thead>
            <tr>
                <th>اسم الصيدلية</th>
                <th>اسم الطبيب</th>
                <th>الشهادة</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            var table = $("#signUpRequests").DataTable({
                ajax: {
                    url: "/api/management/pharmacies",
                    headers: {
                        Authorization: 'Basic ' + sessionStorage.getItem('token')
                    },
                    complete: function (e) {
                        if (e.status == '401')
                            window.location.href = '/management/signout';
                    },
                    dataSrc: ""
                },
                columns: [
                    { data: "phramacyName" },
                    { data: "doctorName" },
                    {
                        data: "certificate",
                        render: function (data) {
                            return `<a href='/management/DownloadImage/${data}' class='btn btn-sm border'>الشهادة</a>`;
                        }
                    },
                    {
                        data: "doctorId",
                        render: function (data) {
                            return `<a href='/Management/DoctorDetails/${data}' class='btn btn-sm border'>معلومات الطبيب</a>`;
                        }
                    },
                    {
                        data: "phramacyId",
                        render: function (data) {
                            return `<a href='PharmaciesLocation/${data}' class='btn btn-sm border'>الموقع</a>`;
                        }
                    }
                ], dom: '<"row w-100 pb-3" <"px-3" f> <"px-3 mr-auto" l>>' +
                    '<"col-12"t>' +
                    '<"col-12" <"row"p><"row" i>>'
            });
            //Delete Functionalatiy
            table.on('click', '.js-refuse', (button) => {
                var btn = button.target;
                var b = $(this);
                Swal.fire({
                    customClass: {
                        confirmButton: 'btn btn-danger',
                        cancelButton: 'btn btn-light border'
                    },
                    icon: 'warning',
                    title: 'Are You Sure?',
                    showCancelButton: true,
                    confirmButtonText: `Delete`,
                    confirmButtonColor: `#dc3545`,
                }).then((result) => {
                    if (result.dismiss === Swal.isConfirmed) {
                        $.ajax({
                            url: `/api/Management/Clinics/Refuse/${btn.attributes[1].value}`,
                            method: 'Delete',
                            headers: {
                                Authorization: 'Basic ' + sessionStorage.getItem('token')
                            },
                            complete: function (e) {
                                if (e.status == '401')
                                    window.location.href = '/management/signout';
                            },
                            success: function () {
                                Swal.fire({
                                    title: 'Done',
                                    icon: 'success',
                                    text: 'Day Deleted Successfuly',
                                    timer: 2000
                                });
                                table.row(btn.parentElement.parentElement).remove().draw();
                                console.log('deleted');
                            }
                        });
                    }
                });
            });
            table.on('click', '.js-accept', (button) => {
                var btn = button.target;
                Swal.fire({
                    customClass: {
                        confirmButton: 'btn btn-danger',
                        cancelButton: 'btn btn-light border'
                    },
                    icon: 'warning',
                    title: 'تأكيد الموعد؟',
                    showCancelButton: true,
                    confirmButtonText: `تأكيد`,
                    confirmButtonColor: `#00a86f`,
                }).then((result) => {
                    if (result.dismiss === Swal.isConfirmed) {
                        $.ajax({
                            url: `/api/Management/Clinics/Accept/${btn.attributes[1].value}`,
                            method: 'POST',
                            headers: {
                                Authorization: 'Basic ' + sessionStorage.getItem('token')
                            },
                            complete: function (e) {
                                if (e.status == '401')
                                    window.location.href = '/management/signout';
                            },
                            success: function () {
                                Swal.fire({
                                    title: 'تمت',
                                    icon: 'success',
                                    text: 'تم تأكيد الموعد المحدد',
                                    timer: 2000
                                });
                                table.row(btn.parentElement.parentElement).remove().draw();
                                console.log('refused');
                            }
                        });
                    }
                });
            });
        });
    </script>
}
